---
layout: page
navtitle: Teaching
permalink: teaching/
---

<link rel="stylesheet" href="../css/main.css">

<!-- <p>Here is a list of the courses I have taught, organized by institution.</p> -->


<h2> Current Courses </h2>
  {% assign current_semester = site.current_semester %}
  {% assign current_courses = site.courses | where:"semester",current_semester | sort:"termletter" %}
  <ul>
    <li id="semesterinfo">
      {{ current_semester }}
      <ul>
        {% for course in current_courses %}
          <li id="courseinfo">{{ course.number }} | {{ course.title }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>


<h2> Previous Courses </h2>
{% for college in site.institutions %}

  <h4 class="mt-4">{{ college }}</h4>
  {% assign institution_courses = site.courses | where:"institution",college %}
  {% assign termcodes = institution_courses | map:"termcode" | uniq | sort | reverse %}

  <ul>
    {% for term in termcodes %}
      {% assign term_courses = institution_courses | where:"termcode",term | sort:"termletter" %}
      <li id="semesterinfo">
        {% assign term_semester = term_courses | map:"semester" | first %}
        {% if term_semester != site.current_semester %}
        {{ term_semester }}
        <ul>
          {% for course in term_courses %}
            <li id="courseinfo">{{ course.number }} | {{ course.title }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endfor %}
